<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="./css/src/lightSaberIcon.png" type="image/x-icon">
    <title>Star Wars App</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#/home">Star Wars APP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#/personajes">Personajes<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#/guardados">Guardados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#/contact">Contacto</a>
                </li>
            </ul>
        </div>
    </nav>
    <main id="root">

    </main>
    <script src="./js/index.js"></script>
</body>

</html>