
<div class="container pt-3">
    <form>
        <div class="row">
            <div class="col">
                <input type="text" id="nombre" class="form-control" placeholder="Nombre">
                <div class="invalid-feedback">Ingrese un nombre valido</div>
            </div>
            <div class="col">
                <input type="email" id="email" class="form-control" placeholder="Email">
                <div class="invalid-feedback" id="errorEmail">Ingrese un Email valido</div>
            </div>
        </div>
        <br>
        <textarea class="form-control" id="comentarios" rows="3" placeholder="Comentarios"></textarea>
        <div class="invalid-feedback">Ingresa un comentario</div>
        <br>
        <button type="button" class="btn btn-secondary btn-block" id="botonEnviar" disabled>Enviar Info</button>
    </form>
</div>
