<div class="container pt-3">
    <h1 class="form-title" style="color: #feda4a;">formulario de contacto</h1>
    <br>
    <form>
        <div class="row">
            <div class="col">
                <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Nombre">
                <div class="invalid-feedback">ingrese un nombre valido</div>
            </div>
            <div class="col">
                <input type="email" name="email" id="email" class="form-control" placeholder="Email">
                <div class="invalid-feedback" id="errorEmail">ingrese un Email valido</div>
            </div>
        </div>
        <br>
        <textarea class="form-control" name="comentarios" id="comentarios" rows="3" placeholder="Comentarios"></textarea>
        <div class="invalid-feedback">ingresa un comentario</div>
        <br>
        <button type="button" class="btn btn-primary btn-block" id="botonEnviar" disabled>enviar</button>
    </form>
</div>