<div class="container-fluid main-section">
    <div class="row">

        <div class="fade"></div>

        <section class="star-wars">
            <div class="crawl">
                <div class="title">
                    <h1>BIENVENIDO A LA APP DE STAR WARS</h1>
                </div>

                <p>Vas a poder ver la lista de personajes de toda la saga y guardarlas en tu pc o movil.</p>
                <br>

                <p>Cada personaje tendrá una tarjeta con su nombre donde podrás visualizar información como su nombre,
                    género, altura o color de ojos.</p>
                <br>

                <p>Creditos a <a href="https://swapi.co/" target="_blank">SWAPI</a> por la base de datos de Star Wars.
                </p>
                <br>
                <p>App creada por<a href="https://github.com/TomAndril" target="_blank"> Tomás Nasjleti</a></p>
            </div>
        </section>

    </div>
</div>