<div class="container main-section">
    <div class="row">

        <div class="col d-flex justify-content-center flex-wrap main-container">
            <h3 class="main-title m-5">star wars app</h3><br>
            <h4 class="m-3 main-welcome">bienvenido a la app de star wars!</h4>
            <p class="main-description">vas a poder hacer llamados a la api de <a href="https://swapi.co/" target="_blank">swapi</a> y ver todos los <a href="#/personajes">personajes</a> listados en una tabla. Los podras guardar en tu disco y verlos cuando quieras en la seccion de <a href="#/guardados">guardados.</a></p>
            <h5 class="main-credit">app creada por <a href="https://github.com/TomAndril" target="_blank">tomas nasjleti</a></h5>
        </div>
    </div>
</div>