@font-face {
  font-family: starJedi;
  src: url('./src/starjedi/Starjedi.ttf')
}

main {
  font-family: starJedi;
}

#root {
  background-image: url('./src/main-background-image.jpg');
  height: 100vh;
}

.container-fluid {
  background-image: url('./src/main-background-image.jpg');
}

/* Estilos Navbar */

.navbar .navbar-brand {
  font-family: starJedi;
  letter-spacing: 2px;
  color: #feda4a !important
}

.navbar {
  font-family: starJedi;
}

/* Estilos Main */

.main-title {
  color: #feda4a;
  font-size: 15vh;
}

.main-welcome {
  color: #feda4a;
}

.main-description {
  color: #fff
}

.main-credit {
  color: #feda4a;
}

/* Estilos Seccion Personajes */

.characters-table {
  padding-top: 15px;
}

.header-tabla-lista th {
  color: #feda4a;
  font-weight: 200;
}

.character-row {
  font-weight: 100;
}